@font-face {
    font-family: customFont;
    src : url(../project-landing-page/maxterboardst-webfont.woff2)
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    /*align-items: center;
    justify-content: center;*/
    /*min-height: 100vh;*/
}

.header {
    background: #d4d7db;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-left: 0.2em;
    align-self: stretch;
}

.header-left > a > img {
    width: 3em;
}

.header-left > h1 {
    color: #2baf2b;
    font-family: customFont;
    letter-spacing: 0.1em;
    font-size: 1.3em;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3em 0 0 1em;
    gap: 1em;
}

.social > a {
    padding: 5px;
    border: solid 0.1em transparent;
    text-decoration: none;
}

.social > a:hover {
    border: solid 0.1em #ff0000;
    border-radius: 0.1em;
    background: #2baf2b;
    transition: 0.1s;
}

.social > a > img {
    width: 1.04em;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin-right: 0.5em;
}

.links > li {
    list-style-type: none;
    padding: 0.4em;
}

.links > li > a {
    text-decoration: none;
    color : #000000;
    font-size: 1.1em;
}

.links > li:hover {
    border-radius: 0.2em;
    background: #2baf2b;
    transition: 0.2s;
}

#toggle {
    display: none;
}

.toggler {
    display: none;
}

.bar {
    width: 3em;
    height: 0.3em;
    margin-bottom: 0.9em;
    background: #ffffff;
}


@media (max-width:1060px) {
    .links {
        display: flex;
        flex-direction: column;
        position: absolute;
        background: #d4d7db;
        right: 0;
        top: 4.1em;
        margin: 0;
        padding: 0 2em 0.5em 1.17em;
        align-items: flex-start;
        transform: translateY(-100%);
        z-index: -1;
    }
    .toggler {
        display: flex;
        flex-direction: column;
        margin: 0.8em 0.8em 0em 0em;
    }
}

@media (max-width:630px){
    .social {
        all: unset;
        width: 15%;
        display: flex;
        flex-wrap: wrap;
    }
    .header-left {
        justify-content: flex-start;
    }
}

input:checked ~ .links {
    transform: translateY(0);
    z-index: 1;
}


.hero {
    background: #29374b;
}

.main {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 4em auto;
    padding: 1em;
    gap: 1em;
}

.main-1,.main-2 {
    flex: 1;
}

.main-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-around;
}

.main-1 > h1 {
    font-size: 4rem;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.main-1 > p {
    font-size: 2rem;
    color: #E5E7EB;
    white-space: pre-line;
}

.main-2 > img {
    width: 100%;
    height: auto;
}


.main-1 > button {
    align-self: center;
    border-radius: 6px;
    padding: 6px 26px;
    background: #3882F6;
    border: none;
    text-decoration: none;
    text-align: center;
    color: #E5E7EB;
    font-weight: bold;
    font-size: 1.3rem;
}

.main-1 > button:hover {
    color: #2baf2b;
}

@media (max-width:1600px){
    .main-1 > h1 {
        align-self: center;
    }
    .main-1 > p {
        align-self: center;
    }
    .main-2 {
        margin: auto;
    }
    .main-2 > img {
        width: 40vw;  
        min-width: 350px;
    }
    .main{
        flex-direction: column;
    }
}


.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f5f3f3;
    padding: 4em 0em;
}

.information-text > p {
    font-size: 2.25rem;
    font-weight: 700;
    color: #1F2937;
    text-align: center;
    margin: 0 1em 1em 1em;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.image {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image > img {
    width: 50px;
    height: 50px;
}

.text {
    text-align: center;
    width: 140px;
}

.text > p {
    white-space: pre-line;
    font-size: 1rem;
}

.quote {
    background: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-text {
    width: 40vw;
    min-width: 300px;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#quote-1 {
    font-size: 1.625rem;
    font-style: italic;
    color : #1F2937;
    margin-bottom: 0px;
}

#quote-author {
    margin-top: 0;
    align-self: flex-end;
    font-family: customFont;
    font-weight: 700;
    font-size: 1rem;
}

.sign {
    background: #f5f3f3;
}

.sign-up {
    background: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    min-width: 300px;
    margin: 2em auto;
    padding: 1.5em 3em;
    border-radius: 1em;
    gap: 1em;
}

.call > p {
    margin: 0;
    padding: 0;
    color: #E5E7EB;
}

#call-to-action {
    font-size: 1.125rem;
    font-weight: 700;
}

#call-to-action-two {
    font-size: 0.875rem;
}

.sign-up > button {
    width: 120px;
    height: 45px;
    align-self: center;
    border-radius: 1em;
    border: 1px solid #E5E7EB;
    background: #3882F6;
    color: #E5E7EB;
    font-weight: 700;
    font-size: 0.875rem;
}

.footer {
    background: #29374b;
}

.footer > p {
    text-align: center;
    color: #E5E7EB;
}