@font-face {
    font-family: customFont;
    src : url(../project-landing-page/maxterboardst-webfont.woff2)
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    /*align-items: center;
    justify-content: center;*/
    /*min-height: 100vh;*/
}

.header {
    background: #d4d7db;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-left: 0.5vw;
}

.header-left > a > img {
    width: 3em;
}

.header-left > h1 {
    color: #2baf2b;
    font-family: customFont;
    letter-spacing: 0.1em;
    font-size: 1.5em;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3em 0 0 1em;
    gap: 1em;
}

.social > a {
    padding: 5px;
    border: solid 0.1em transparent;
    text-decoration: none;
}

.social > a:hover {
    border: solid 0.1em #ff0000;
    border-radius: 0.1em;
    background: #2baf2b;
    transition: 0.1s;
}

.social > a > img {
    width: 1.2em;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin-right: 0.5vw;
}

.links > li {
    list-style-type: none;
    padding: 0.4em;
}

.links > li > a {
    text-decoration: none;
    color : #000000;
    font-size: 1.1em;
}

.links > li:hover {
    border-radius: 0.2em;
    background: #2baf2b;
    transition: 0.2s;
}

/*.header-right > select {
    display: none;
}

@media (max-width:1060px) {
    .header-right ul {display: none;}
    .header-right select {display: inline-block;}
}*/

.hero {
    flex: 5;
    background: #29374b;
    width: 100%;
}

.main{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}


.main {
    gap: 28px;
}

.main-1,.main-2 {
    flex: 1;
}

.main-1 > h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.main-1 > p {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;
}

.main-1 > button {
    border-radius: 6px;
    padding: 6px 26px;
    background: #3882F6;
    border: none;
    text-decoration: none;
    text-align: center;
    color: #E5E7EB;
    font-weight: bold;
    font-size: 20px;
}

.main-1 {
    align-self: self-start;
}

.main-2 {
    align-self: stretch;
}

.main-2 > img {
    width: 100%;
    height: 90%;
    min-width: 200px;
}

.information {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #f5f3f3;
}

.information-text > p {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image > img {
    width: 100px;
    height: 100px;
    border: solid blue 5px;
    border-radius: 10px;
}

.text {
    text-align: center;
    width: 120px;
}

.quote {
    flex: 3;
    width: 100%;
    background: #E5E7EB;
}

.quote-text {
    padding: 80px;
}

#quote-1 {
    font-size: 26px;
    font-style: italic;
    color : #1F2937;
    margin-bottom: 0px;
}

#quote-author {
    margin-top: 0;
    text-align: end;
    font-weight: 700;
    font-size: 20px;
}

.sign {
    flex: 2;
    background: #f5f3f3;
    width: 100%;
}

.sign-up {
    background: #3882F6;
    margin: 70px 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 5px;
    border-radius: 10px;
    flex-wrap: wrap;
    min-width: 50px;
}

.call > p {
    margin: 0;
    padding: 0;
    color: #E5E7EB;
}

#call-to-action {
    font-size: 18px;
    font-weight: 700;
}

#call-to-action-two {
    font-size: 14px;
}

.sign-up > button {
    width: 120px;
    height: 45px;
    align-self: center;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    background: #3882F6;
    color: #E5E7EB;
    font-weight: 700;
    font-size: 14px;
}

.footer {
    flex: 1;
    width: 100%;
    background: #29374b;
}

.footer > p {
    text-align: center;
    color: #E5E7EB;
}